.container {
  font-size: 1.25em;
  padding: 1em;
  max-width: 1000px;
  margin: auto;
  color: #fff;
  background-color: #151515;
  font-family: monospace;
}

.text-center {
  text-align: center;
}

.technologies {
  color: #eab308;
}

.open-source {
  color: #06b6d4;
}

.employment {
  color: #e11d48;
}

.dev-icons {
  display: flex;
  flex-wrap: wrap;
}

.dev-icon {
  font-size: 40px;
  padding: 10px 0px 10px 0px;
  margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

p {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

a,
a:hover,
a:focus,
a:active {
  padding: 0;
  margin: 0;
  color: inherit;
}

.menu {
  display: flex;
  background-color: #bbb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 6px;
}

.button {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  margin: 4px;
}

.close {
  background-color: #ff3b47;
  border-color: #9d252b;
}

.minimize {
  background-color: #ffc100;
  border-color: #9d802c;
}

.zoom {
  background-color: #00d742;
  border-color: #049931;
}

.green {
  color: #16a34a;
}

.blue {
  color: #0284c7;
}

.red {
  color: #e11d48;
}

.white {
  color: #e5e5e5;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.flicker {
  list-style: none;
  color: #fff;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.terminal-text {
  word-break: break-all;
}
